body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 0.5rem;
  padding: 20px;
}

.main-title {
  text-align: center;
}

.chart-title {
  text-align: center;
  font-size: 14px;
}