body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  grid-area: header;
  border-bottom: 1px solid lightgrey;
  height: 100px;
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 30;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid lightgrey
}

.sidebar2 {
  grid-area: sidebar2;
}

.main-content {
  grid-area: main-content;
  overflow-y: scroll;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.footer {
  grid-area: footer;
  height: 10px;
}

.wrapper {
  background-color: #fff;
  color: #444
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "sidebar"
    "main-content"
    "sidebar2"
    "footer"
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas: "header header"
      "sidebar main-content"
      "sidebar2 sidebar2"
      "footer""footer"
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 120px auto 120px;
    grid-template-areas: "header header header"
      "sidebar main-content sidebar2"
      "footer footer footer"
  }
}

.box {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%
}

.chart-container {}

.header {
  text-align: center;
  font-weight: bold
}

.footer {
  text-align: center;
  font-weight: lighter;
  font-size: 1rem
}

/* .sidebar2 {
  background-color: #ccc;
  color: #444
} */

.main-title {
  text-align: center;
}

.chart-title {
  text-align: center;
  font-size: 14px;
}

.sidebar-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;

  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  font-size: 12;
  text-align: left;
}

/* Collapsible css based on this
https://github.com/glennflanagan/react-collapsible/blob/develop/example/_src/sass/components/_Collapsible.scss
 */

.Collapsible {
  background-color: white;
}


.Collapsible__contentInner {
  padding: 10px;
  border: none;
  border-top: 0;
}

.Collapsible__trigger {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  padding: 10px;
  background: white;
  color: black;
  font-size: 12px;

}
.Collapsible__trigger:open .after {
  font-family: "Times New Roman";
  border: 1px solid black;
  background-color: blue;
}

  /* &:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  } */

  /* &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  } */

  /* &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  } */


